:root {
  --echo-dock-shape-top: path(
    "M 0 0 C 5.523 0 10 4.477 10 10 V 30 C 10 35.523 14.477 40 20 40 H 108 C 113.523 40 118 35.523 118 30 V 10 C 118 4.477 122.477 0 128 0 Z"
  );
  --echo-dock-shape-bottom: path(
    "M 0 40 C 5.523 40 10 35.523 10 30 V 10 C 10 4.477 14.477 0 20 0 H 108 C 113.523 0 118 4.477 118 10 V 30 C 118 35.523 122.477 40 128 40 Z"
  );
  --echo-dock-shape-left: path(
    "M 0 0 C 0 5.523 4.477 10 10 10 H 22 C 27.523 10 32 14.477 32 20 V 84 C 32 89.523 27.523 94 22 94 H 10 C 4.477 94 0 98.477 0 104 Z"
  );
  --echo-dock-shape-right: path(
    "M 32 0 C 32 5.523 27.523 10 22 10 H 10 C 4.477 10 0 14.477 0 20 V 84 C 0 89.523 4.477 94 10 94 H 22 C 27.523 94 32 98.477 32 104 Z"
  );
}
